In [2]:
import pandas as pd

In [5]:
dept_mnger = pd.read_csv(r"C:\Users\kndrs\Employee-Data\Data Outputs as CSV\department_mnger_info.csv")

In [6]:
dept_mnger.head()

  dept_no        dept_name  emp_no     last_name first_name
0    d001        Marketing  110022    Markovitch  Margareta
1    d002          Finance  110085         Alpin       Ebru
2    d003  Human Resources  110183  Ossenbruggen    Shirish
3    d004       Production  110303       Wegerle  Krassimir
4    d005      Development  110511      Hagimont   DeForest

In [7]:
dev_sales_Dept = pd.read_csv(r"C:\Users\kndrs\Employee-Data\Data Outputs as CSV\dev_sales_Dept.csv")

In [8]:
dev_sales_Dept.head()

   10001    Facello    Georgi  Development
0  10002     Simmel   Bezalel        Sales
1  10006    Preusig    Anneke  Development
2  10008   Kalloufi    Saniya  Development
3  10012  Bridgland  Patricio  Development
4  10014      Genin     Berni  Development